<div ng-controller="UrlPickerController" class="url-picker">
	{{pickers | json}}
	<ul ui-sortable="sortableOptions" ng-model="pickers" class="picker-wrapper">
		<li ng-repeat="picker in pickers" ng-class="{ 'unsortable': !model.config.multipleItems || pickers.length <= 1 }">
			<div class="panel panel-default" ng-class="{ 'dimmed': picker.disabled }">
                <div ng-click="editItem(picker)" class="panel-heading clearfix">
                	<span ng-show="picker.meta.title">{{picker.meta.title}}</span>
                	<span ng-switch on="picker.type" ng-show="!picker.meta.title">
                		<span ng-switch-when="content">{{picker.content.name}}</span>
                		<span ng-switch-when="media">{{picker.media.name}}</span>
                		<span ng-switch-default>{{picker.typeData.url}}</span>
                	</span>
                	<div class="pull-right">
                		<!--<a href="#" ng-click="editItem(picker)" class="no-drag" prevent-default>
							<span ng-show="!picker.active"><span class="icon-edit"></span>&nbsp;Edit</span>
							<span ng-show="picker.active"><span class="icon-edit"></span>&nbsp;Close</span>
						</a>-->
						<i class="icon icon-add" ng-click="openFieldsetPicker($index, $event)" ng-show="canAdd()"></i>
						<i class="icon icon-navigation handle" ng-show="canSort()"></i>
						<i class="icon icon-power" ng-click="enableDisable(picker)" ng-show="canDisable()"></i>
						<i class="icon icon-delete" ng-click="removeItem(picker)" ng-show="canRemove()"></i>
	                	<!--<a href="#" ng-click="removeItem(picker)" ng-show="canRemoveItem()" class="no-drag" prevent-default><span class="icon-delete"></span>&nbsp;Remove</span></a>-->
                	</div>
                </div>

            	<div class="panel-body" ng-class="{'collapsed': !picker.active}">
					<div class="link-meta">
						<div class="row control-group" ng-hide="model.config.hideTitle">
							<label for="urlPickerTitle-{{$index + 1}}">Title</label> <input id="urlPickerTitle-{{$index + 1}}" type="text" ng-model="picker.meta.title" />
						</div>
						<div class="row control-group" ng-hide="model.config.hideOpenNew">
							<label>Open in new window?&nbsp;&nbsp;<input type="checkbox" ng-model="picker.meta.newWindow" /></label>
						</div>
					</div>

					<ul class="nav nav-tabs">
						<li ng-class="{active : picker.type == 'url'}" ng-hide="model.config.hideUrl">
							<a ng-click="switchType('url', picker)" href="#" prevent-default>URL</a>
						</li>
						<li ng-class="{active : picker.type == 'content'}" ng-hide="model.config.hideContent">
							<a ng-click="switchType('content', picker)" href="#" prevent-default>Content</a>
						</li>
						<li ng-class="{active: picker.type == 'media'}" ng-hide="model.config.hideMedia">
							<a ng-click="switchType('media', picker)" href="#" prevent-default>Media</a>
						</li>
					</ul>

					<div class="tab-body">
						<div ng-show="picker.type == 'url'">
							<input type="text" ng-model="picker.typeData.url" placeholder="ex. http://, https:// or www." />
							<a href class="delete-icon url-delete" ng-click="resetType('url', picker)"><i class="icon icon-delete" ng-show="picker.typeData.url"></i></a>
						</div>
						<div ng-show="picker.type == 'content'">
							<a ng-click="openTreePicker('content', picker)" prevent-default>Select…</a>
							<i class="icon {{picker.content.icon}}"></i> {{picker.content.name}}
							<a href class="delete-icon" ng-click="resetType('content', picker)" ng-show="picker.typeData.contentId > 0"><i class="icon icon-delete"></i></a>
						</div>
						<div ng-show="picker.type == 'media'">
							<a ng-click="openTreePicker('media', picker)" prevent-default>Select…</a>
							<i class="icon {{picker.media.icon}}"></i> {{picker.media.name}}
                            
							<a href class="delete-icon" ng-click="resetType('media', picker)" ng-show="picker.typeData.mediaId > 0"><i class="icon icon-delete"></i></a>

							<div class="thumbnail" ng-show="model.config.mediaPreview">
								<img ng-src="{{picker.media.thumbnail}}" alt="" ng-show="picker.media.thumbnail">
								
								<span class="icon-holder" ng-hide="picker.media.thumbnail">
									<i class="icon {{picker.media.icon}} large" ></i>
									<small>{{picker.media.name}}</small>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</li>
    </ul>
	<a href="#" ng-click="addItem()" ng-show="canAdd()" prevent-default><i class="icon icon-add blue"></i> Add Item</a>
</div>